<link rel="import" href="../polymer/polymer.html">

<script>
  (function() {
    var readCookie = function(name) {
      var value = "; " + document.cookie;
      var parts = value.split("; " + name + "=");
      if (parts.length == 2) return parts.pop().split(";").shift();
    };
    var _sessionId;
    var _instances = [];

    window.OakAJAXBehavior = {
      properties: {
        /**
         * An object containing an object with the
         * properly formatted auth header
         * @type {Object}
         */
        authHeaders: {
          type: Object,
          readOnly: true,
          notify: true
        },

        /**
         * A URL base that will properly route localhost,
         * FamilySearch.org domains, and others
         * @type {String}
         */
        ajaxBase: {
          type: String,
          value: function() {
            // If on localhost proxy to integration
            if (~location.origin.indexOf('localhost')) {
              // Don't proxy port 5000
              if (!~location.origin.indexOf(':5000')) {
                return 'https://integration.familysearch.org';
              }
              return location.origin;
            }

            // If not on familysearch domain proxy to FamilySearch.org
            // TODO: Extend this to allow third parties to also hit dev
            // references
            if (!~location.origin.indexOf('familysearch.org')) {
              return 'https://familysearch.org';
            }

            // Otherwise just return the origin
            return location.origin;
          },
          readOnly: true,
          notify: true
        }
      },

      /**
       * The sessionId that will be used for FamilySearch.org
       * requests
       * @return {String} The actual session ID
       */
      get sessionId() {
        return _sessionId;
      },
      set sessionId(val) {
        _sessionId = val;
        var headerObj = { Authorization: 'Bearer ' + this.sessionId };
        _instances.forEach(function(instance) {
          if (instance && instance._setAuthHeaders) {
            instance._setAuthHeaders(headerObj)
          }
        });
      },

      ready: function() {
        // Save off a ref to the consuming object so we can update
        // all of the components when needed
        _instances.push(this);

        // If a user is on FamilySearch.org check the `fssessionid` cookie
        if (~location.origin.indexOf('familysearch.org')) {
          this.sessionId = readCookie('fssessionid') || this.sessionId;
        }
      }
    };
  })();
</script>