:host {
  display: inline-block;
}

.relative {
  position: relative;
}

@-moz-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.grid-item-preview-overlay {
  position: absolute;
  top: 0px;
  width: 170px;
  height: 207px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
}

.grid-item-preview-overlay .spinner {
  position: relative;
  background-position: center center;
  background-size: 40px 40px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-animation: rotate 1s infinite steps(12);
  animation: rotate 1s infinite steps(12);
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.2%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%0A%09%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22128px%22%20height%3D%22128px%22%20viewBox%3D%220%200%20128%20128%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cline%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20style%3D%22opacity%3A0.1%22%20stroke-width%3D%2212%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20x1%3D%2264.001%22%20y1%3D%228.125%22%20x2%3D%2264.001%22%20y2%3D%2227.762%22/%3E%0A%3Cline%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20style%3D%22opacity%3A0.91%22%20stroke-width%3D%2212%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20x1%3D%2236.062%22%20y1%3D%2215.611%22%20x2%3D%2245.88%22%20y2%3D%2232.618%22/%3E%0A%3Cline%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20style%3D%22opacity%3A0.83%22%20stroke-width%3D%2212%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20x1%3D%2215.611%22%20y1%3D%2236.062%22%20x2%3D%2232.618%22%20y2%3D%2245.882%22/%3E%0A%3Cline%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20style%3D%22opacity%3A0.74%22%20stroke-width%3D%2212%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20x1%3D%228.126%22%20y1%3D%2264%22%20x2%3D%2227.764%22%20y2%3D%2264%22/%3E%0A%3Cline%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20style%3D%22opacity%3A0.66%22%20stroke-width%3D%2212%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20x1%3D%2215.612%22%20y1%3D%2291.938%22%20x2%3D%2232.619%22%20y2%3D%2282.117%22/%3E%0A%3Cline%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20style%3D%22opacity%3A0.58%22%20stroke-width%3D%2212%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20x1%3D%2236.064%22%20y1%3D%22112.389%22%20x2%3D%2245.883%22%20y2%3D%2295.381%22/%3E%0A%3Cline%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20style%3D%22opacity%3A0.49%22%20stroke-width%3D%2212%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20x1%3D%2264.001%22%20y1%3D%22119.873%22%20x2%3D%2264.001%22%20y2%3D%22100.236%22/%3E%0A%3Cline%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20style%3D%22opacity%3A0.41%22%20stroke-width%3D%2212%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20x1%3D%2291.939%22%20y1%3D%22112.387%22%20x2%3D%2282.121%22%20y2%3D%2295.381%22/%3E%0A%3Cline%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20style%3D%22opacity%3A0.33%22%20stroke-width%3D%2212%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20x1%3D%22112.391%22%20y1%3D%2291.936%22%20x2%3D%2295.387%22%20y2%3D%2282.116%22/%3E%0A%3Cline%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20style%3D%22opacity%3A0.24%22%20stroke-width%3D%2212%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20x1%3D%22119.875%22%20y1%3D%2263.997%22%20x2%3D%22100.241%22%20y2%3D%2263.998%22/%3E%0A%3Cline%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20style%3D%22opacity%3A0.16%22%20stroke-width%3D%2212%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20x1%3D%22112.389%22%20y1%3D%2236.06%22%20x2%3D%2295.384%22%20y2%3D%2245.877%22/%3E%0A%3Cline%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20style%3D%22opacity%3A0.083%22%20stroke-width%3D%2212%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20x1%3D%2291.938%22%20y1%3D%2215.609%22%20x2%3D%2282.118%22%20y2%3D%2232.614%22/%3E%0A%3C/svg%3E");
}

.error-uploading {
  position: absolute;
  bottom: 42px;
  padding: 0 5px;
  box-sizing: border-box;
}

.error-text {
  background: #FDEEEE;
  background-repeat:no-repeat;
  background-position: 3px 5px, center;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjIiIGJhc2VQcm9maWxlPSJ0aW55IiBpZD0iQXJ0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIg0KCSB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjIwcHgiIGhlaWdodD0iMjBweCIgdmlld0JveD0iMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxyZWN0IGZpbGw9Im5vbmUiIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIvPg0KPHBhdGggZmlsbD0iI0E3MUUxQSIgZD0iTTEzLjA4MywxMS4wMDNDMTMuMDM3LDExLjU1MiwxMi41NSwxMiwxMiwxMkg5Yy0wLjU1LDAtMS4wMzctMC40NDgtMS4wODMtMC45OTdMNy4wODMsMC45OTcNCglDNy4wMzcsMC40NDgsNy40NSwwLDgsMGg0Ljk5OGMwLjU1LDAsMC45NjMsMC40NDgsMC45MTcsMC45OTdMMTMuMDgzLDExLjAwM3ogTTExLjU3MywxOWMwLjU1LDAsMS4wMzQtMC40NDksMS4wNzUtMC45OTcNCglsMC4yMjUtMy4wMDZDMTIuOTE1LDE0LjQ0OSwxMi40OTgsMTQsMTEuOTQ4LDE0SDkuMDVjLTAuNTUsMC0wLjk2NiwwLjQ0OS0wLjkyNSwwLjk5N2wwLjIyNSwzLjAwNkM4LjM5MSwxOC41NTEsOC44NzUsMTksOS40MjUsMTkNCglIMTEuNTczeiIvPg0KPC9zdmc+);
  border: 1px solid #A51F1F;
  color: #A51F1F;
  padding: 5px 5px 5px 25px;
  border-radius: 4px;
}

.error-text strong {
  font-weight: bold;
}

#memory-title {
  position: absolute;
  bottom: 0px;
  box-sizing: border-box;
  background-color: white;
  height: 37px;
  width: 100%;
  border-radius: 0 0 5px 5px;
  border-top: 1px solid #CFD6D7;
  display: block;
  font-size: 14px;
  text-align: center;
  padding: 5px 3px;
  line-height: 1.1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}
